html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.full-screen-loading {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        padding: 0 20px;
        text-align: center;

        h1 {
            color: white !important;
        }

        .spinner {
            animation: rotate 2s linear infinite;
            width: 50px;
            height: 50px;
            margin-bottom: 20px;

            .path {
                stroke: white;
                stroke-linecap: round;
                animation: dash 1.5s ease-in-out infinite;
            }

            @keyframes rotate {
                100% {
                    transform: rotate(360deg);
                }
            }

            @keyframes dash {
                0% {
                    stroke-dasharray: 1, 150;
                    stroke-dashoffset: 0;
                }
                50% {
                    stroke-dasharray: 90, 150;
                    stroke-dashoffset: -35;
                }
                100% {
                    stroke-dasharray: 90, 150;
                    stroke-dashoffset: -124;
                }
            }

        }

    }

}

.dashboard {
    height: 100vh;
    display: flex;
    width: 100%;

    .days {
        height: 100%;
        width: 140px;
        flex-basis: 140px;
        border-right: 1px solid #bdbdbd;
        overflow: auto;
    }

    .locations {
        width: 260px;
        flex-basis: 260px;
        height: 100%;
        border-right: 1px solid #bdbdbd;
        overflow: auto;
    }

    .map {
        width: calc(100% - 400px);
        flex-basis: calc(100% - 400px);
        min-height: 100%;
        position: relative;
        z-index: 1;
    }

    .list {

        &>span, &>div {
            padding: 10px;
            display: inline-block;
            cursor: pointer;
            border-bottom: 1px solid #bdbdbd;
            width: 100%;

            &[data-selected="true"] {
                background-color: #dddddd;
            }

        }

    }

    h2 {
        font-size: 1.32em;
        font-weight: 700 !important;
        padding: 10px;
    }

    .options {
        position: absolute;
        background-color: white;
        top: 20px;
        right: 20px;
        border-radius: 12px;
        padding: 10px 12px 12px 12px;
        z-index: 10;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        display: flex;

        svg {
            width: 28px;
            height: 28px;
            cursor: pointer;
            margin: 0 6px;
        }

    }

}

.map {

    #map-container {
        height: 100%;

        &>div {
            height: 100%;

            &>div {
                height: 100%;
            }

        }

    }

    // ion-fab {
    //     width: calc(100% - 40px);
    //     left: 20px;
    //     display: flex;
    //     justify-content: space-between;
    //
    //     ion-fab-button {
    //         display: inline-block;
    //     }
    //
    //     ion-fab-button:nth-of-type(2) {
    //         float: right;
    //     }
    //
    // }

}

.error-msg {
    color: #fa4252;
    margin-top: 12px;
}

.marker-custom {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 3px solid white;
    background-color: #725CFF;
    padding: 6px;
    position: relative;
}

.marker-cluster-large {
    background-color: rgba(40, 40, 40, 0.6) !important;
    &>div {
        background-color: rgba(40, 40, 60, 0.6) !important;
    }
}

.marker-cluster-medium {
    background-color: rgba(100, 100, 100, 0.6) !important;
    &>div {
        background-color: rgba(100, 100, 100, 0.6) !important;
    }
}

.marker-cluster-small {
    background-color: rgba(160, 160, 160, 0.6) !important;
    &>div {
        background-color: rgba(160, 160, 160, 0.6) !important;
    }
}

.login {
    background: #333;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;

    h1 {
        font-weight: 700;
        font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
        margin-bottom: 12px;
        font-size: 2em;
    }

    .login-container {
        width: 400px;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;

        .form {

            .form-group {

                label {
                    display: block;
                    margin-bottom: 4px;
                    font-weight: 700;
                }

                input {
                    width: 100%;
                    border: none;
                    background-color: #f5f5f5;
                    border-bottom: 4px;
                    overflow: hidden;
                    padding: 6px 12px;
                }

            }

            button {
                padding: 12px 24px;
                color: white;
                margin-top: 8px;
                border-radius: 8px;
                text-transform: uppercase;
                font-weight: 700;
                background: black;
                display: inline-block;
            }

            a {
                width: 170px;
                display: inline-block;
                position: relative;
                top: -2px;
                margin-left: 8px;

                img {
                    width: 100%;
                }

            }

        }

    }

}
